#create-button-nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px){
    #create-button-nav{
        display: none;
    }
}

#create-button-link {
    display: flex;
    border-radius: 50px;
    background-color: #01bf71;
    padding: 14px 32px;
    color: #010606;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
}

#create-button-link:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
}