#login-container {
    box-shadow: 0px 0px 10px 2px rgb(111, 44, 122);
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 3px;
}

.login-container-info {
    background-color: rgba(255, 255, 255, 0.15);
    width: 600px;
    height: 550px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    left: 28%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
}

@media screen and (max-width: 768px) {
    .login-container-info {
        width: 400px;
        height: 540px;
        left: 10%;
        top: 40px;
    }
}

.login-container-text {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.login-container-text>h2 {
    font-size: 1.6rem;
    text-align: center;
    color: #000;
}

.login-container-text>p {
    font-size: 14px;
    color: #000;
    margin: 2px 0;
    margin-bottom: 15px;
}

.login-container-text>input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    border: none;
    padding: 12px;
    border-radius: 3px;
}

.login-container-text>button {
    width: 200px;
    border: none;
    padding: 12px;
    border-radius: 3px;
}

label {
    color: #000;
    transform: translateY(-1.5rem);
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}

.login-container-text>input {
    border: 2px solid #01bf71;
    margin: 3px 0 7px;
    font-size: 0.8rem;
    color: #656880;
}

.login-container-text>.login-btn {
    /* background-image: linear-gradient(to right, #19BEC2, #8C1415); */
    background-color: #000;
    margin: 0 auto;
    display: block;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1.6em;
    transition: background-color .3s ease-in-out;
}

.login-btn:hover {
    background-color: white;
    color: #000;
    box-shadow: none;
}

span {
    display: block;
    text-align: center;
    margin: 20px 0 0;
    color: #BABDCB;
    font-size: 12px;
}

.login-card-no-account {
    padding: 1rem 1rem;
    text-align: center;
    font-size: .875rem;
    color: #190c4d;
}

.login-card-no-account>p>a {
    font-weight: 500;
    color: #fff;
}

.login-card-no-account>p>a:hover {
    color: #01bf71;
}

.gender {
    margin-bottom: -1.15em;
}

.gender label:hover,
.gender input:hover {
    cursor: pointer;
}