.profile-background {
    background-color: black;
    display: flex;
    justify-content: center;
}


.profile-wrapper {
    z-index: 5;
    overflow: auto;
    position: relative;
    border-radius: 4px;
    margin-top: 30px;
    background-color: white;
    height: 900px;
    width: 680px;
}


.profile-header {
    z-index: 2;
    position: relative;
    height: 24%;
    background-color: black;
}

.profile-img-wrapper {
    -webkit-box-shadow: -1px 10px 47px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 10px 47px -15px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 10px 47px -15px rgba(0, 0, 0, 0.75);
    display: inline-block;
    padding: 3px;
    z-index: 1;
    border-radius: 5px;
    width: 140px;
    height: 140px;
    background-color: white;
    position: relative;
    top: 100px;
    left: 30px;
}


.profile-img {
    border-radius: 2px;
    width: 100%;
    height: 100%;
}

.profile-user-info {
    position: absolute;
    width: 300px;
    height: 60px;
    left: 190px;
    bottom: 30px;
    background-color: black;
}

.profile-user-name {
    color: white;
    top: 120px;
    right: 427px;
    margin-bottom: 2px;
}

.profile-user-city {
    margin-top: 0;
    font-size: 20px;
    color: white;
    right: 440px;
    bottom: 0;
}

.profile-edit-button {
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    border: 2px solid black;
    padding: 8px 26px;
    position: relative;
    top: 50px;
    margin: 0 auto;
    transition: all ease 0.2s;
}

.profile-edit-button:hover {
    background-color: black;
    color: white;
}

.profile-logout-button {
    border-radius: 4px;
    font-size: 14px;
    border: 2px solid black;
    padding: 8px 39px;
    position: relative;
    top: 20px;
    left: 0px;
    margin: 0 auto;
    transition: all ease 0.2s;
}

.profile-logout-button:hover {
    border: none;
    background-color: red;
    font-weight: 700;
    color: white;
}

.profile-body {
    position: absolute;
    width: 100%;
    height: 13%;
    background-color: #f8f9fa;
}

.profile-statistic-info {
    width: 300px;
    height: 100%;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 768px) {
    .profile-statistic-info {
        left: 200px;

    }
}

.profile-photos {
    width: 100%;
    height: 100%;
}

.profile-photos>div {
    margin-top: 20px;
}


.profile-statistic-count {
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    position: relative;
    margin-right: 14px;
    margin-bottom: 5px;
    padding-left: 10px;

}

.profile-statistic-type {
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: gray;
}

.h1-about {
    font-weight: 100;
    position: relative;
    top: 160px;
    left: 20px;
}

.h1-recent {
    display: inline-block;
    font-weight: 100;
    position: relative;
    top: 200px;
    left: 20px;
}

.profile-posts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    justify-content: space-evenly;
    width: 100%;
    height: 32%;
    bottom: 100px;
    background-color: #f8f9fa;
}

.profile-posts-wrapper {
    position: relative;
    width: 240px;
    height: 150px;
    background-color: red;
    margin-bottom: 20px;
}

.profile-posts-wrapper>img {
    height: 100%;
    width: 100%;
}

.profile-read-more {
    z-index: 2;
    position: absolute;
    left: 55px;
    top: 75px;
    border: none;
    border-radius: 10px;
    background-color: #01bf71;
    font-size: 18px;
    padding: 5px 22px;
    transition: all ease 0.2s;
    text-decoration: none;
    color: black;
}


.profile-read-more:hover {
    background-color: black;
    color: white;
}
